.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 0;
    border-radius: 3px;
    margin-bottom: 20px;
}

.image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  }

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
.media-body{
    margin-left: 30px;
    display: inline-block;
    flex: 0;
    min-width: 120px;
}
.editbtn{
    display: inline-block;
    margin-left: 40px;
}