{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="content-section">
                <div class="media">

                    <img class="rounded-circle account-img" src="{{user.profile.image.url}}" alt="profile pic">

                    <div class="media-body">

                        <h3 class="account-heading"><b>{{user.username}}</b></h3>
                            <p class="text-secondary">{{user.profile.bio}}</p>
                    </div>
                    <a href="{% url 'update' %}"><button class="btn btn-dark editbtn" type="submit">Edit Profile</button></a>
                    
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}