{% load bootstrap4 %}
{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">


    <title>Instanoir</title>

    {% block styles %}
    {% bootstrap_css %}
    {% endblock %}

</head>

<body>
  
<nav class="navbar">
    <section class="logo-section"><img class="logo" src="/static/images/iphone.png"/>
      <div></div><img class="logoname" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png"/>
    </section>
    <form class="search-section">
      <input class="input-search" type="search" name="search" placeholder="Buscar"/>
    </form>
    <section class="icons-section"><a class="fa fa-compass" href="#"></a><a class="fa fa-heart-o" href="#"></a><a class="fa fa-user-o" href="#"></a></section>
  </nav>

    {% block content %}

    {%endblock%}

    {% block scripts %}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}

</body>

</html>