{% extends 'base.html' %}
{% load bootstrap4 %}

{% load static %}

{% block content %}
{% for i_data in imagedata %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="Instagram-card">

                <div class="Instagram-card-header">
                    {% for profile in profiles %}
                  
                    <img src="{{profile.image.url}}" alt="{{profile.user}}'s image'" class="Instagram-card-user-image">
                    
                    {% endfor %}

                    <a class="Instagram-card-user-name" href="{% url 'profile' i_data.grammer.id %}"> {{i_data.grammer}} </a>
                </div>

                <!--Be username linking him/her to their profile-->
                <div class="Instagram-card-image">
                    <img src="{{i_data.image_path.url}}" alt="{{i_data.image_name}}" height=600px />
                </div>

                <div class="Instagram-card-content">
                    <p class="Likes">{{i_data.like}}</p>
                    <p><a class="Instagram-card-content-user">
                            <href="#">{{i_data.grammer}}
                        </a> {{i_data.image_caption}} </p>

                    {% for comment in comments %}
                        
                        {% if comment.image == i_data %}
                        <p><a class="user-comment" href="#">@{{comment.username.username}}</a> {{comment.content}}</p>
                        {% endif %}
                        {% endfor %}

                        <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="comment_id" value='{{i_data.id}}'>  <!-- Shows the image id -->
                            {% bootstrap_form comment_form %}
                            <input type="submit" value="Add Comment">
                        </form>

                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>


{% endfor %}
{% endblock %}